*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}


.logo img{
    width: 180px;
    height: 180px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: rgb(164, 164, 164);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(164, 164, 164);
    margin: 5px;
}


@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    #proba{
        display: block !important;
    }
    #nestani{
        display: none;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 22vh;
        background-color: rgb(44, 91, 78);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


/**Kraj Nav dela***/


#all{
    width: 100%;
    background-color: rgb(231, 231, 231);
    border: none;
}

#all p{
    color: rgb(100, 100, 100);
}

#white{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5%;
}

#dugme{
    background-color: #2b5a4c;
    border: 1px solid #2b5a4c;
    border-radius: 10px;
    padding: 3% 7%;
}

#dugme:hover{
  background-color: #337763;
  border: 1px solid #337763;
}

#dugme1{
    background-color: #2b5a4c;
    border: 1px solid #2b5a4c;
    border-radius: 10px;
    padding: 2% 30%;
}

#dugme1:hover{
  background-color: #337763;
  border: 1px solid #337763;
}

#proba{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* Facebook kartica */
.f-card {
  background-color:white;
  /*height:400px;*/
  width:502px;
  border: 1px solid #d0d1d5;
  border-radius:3px;
  margin: auto;
  margin-bottom:10px;
  padding: 12px; 
  
  box-shadow: 0 0 5px rgba(0, 0, 0, .30); /* Not original, just a test */
}

.header {
  margin-bottom:17px;
}

.co-logo {
  /*display:block;*/
  float:left;
  margin-right:8px;
  
  width:40px;
  height:40px;
}

.co-name > a {
  font-family: Helvetica;
  font-size:14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration:none;
  
  margin-bottom:2px;
}

.co-name > a:hover {
  text-decoration:underline;
}

.time {
  font-family: Helvetica;
  font-size:12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration:none;
}

.time > a:hover {
  text-decoration:underline;
}

.options {
  font-family: Helvetica;
  font-size:12px;
  color: #e5e5e5;
  float:right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, .30);
}

.content {
  clear:both;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
}

.reference {
  width:476px;
}
.reference-thumb {
  display:block;
  width:476px;
  height:249px;
}

.reference-content {
  border: 2px solid black;
  border: 2px solid rgba(0, 0, 0, .1);
  border-top: 0;
  padding: 10px 12px 10px 12px;
}

.reference:hover .reference-content {
  border-color: black; /* Fallback */
  border-color: rgba(0, 0, 0, .15);
}

.reference-title {
  font-family: Georgia;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  
  margin-bottom:5px;
}

.reference-subtitle {
  font-family: Helvetica;
  font-size:12px;
  line-height: 16px; 
}

.reference-font {
  color: #90949c;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;

  padding-top:9px; 
}

.social {
  margin-top:12px;
}
.social-buttons {
  color: #7f7f7f;
  font-family: Helvetica;
  font-size: 12px;
  font-weight:bold;
  line-height:14px;
  
  border-top:1px solid #e5e5e5;
  padding-top:4px;
  
}

.social-buttons span {
  font-size: 12px;
  margin-right:20px;
  padding:4px 4px 4px 0;
}

.social-buttons span:hover {
  text-decoration:underline;
  cursor:pointer;
}

.social-buttons span i {
  padding-right:4px;
}


#scrool{
    overflow-y: scroll;
}
/*Kraj Facebook kartica */


#fader{
  position: relative;
}

#fader #to{
  display: none;
  position: absolute;
  left: 0;
}

#fader img{
  width: 210px;
  height: 200px;
}

/** footer **/
.footer {
    background: #f1f1f1;
    color: rgb(100, 100, 100);
  }
  
  .footer h2 {
    /* color: #fff; */
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  
  .footer .address h3 {
    /* color: #fff; */
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-bottom: 3px;
    border-bottom: rgb(100, 100, 100) solid 4px;
    margin-bottom: 20px;
    width: 160px;
  }
  
  .location_section {
    /* background-color: #fff; */
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
  }
  
  .news {
    padding-bottom: 50px;
    padding-top: 15px;
  }
  
  .news .newslatter {
    padding: 14px 15px;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    width: 70%;
    font-size: 19px;
  }
  
  .submit {
    padding: 14px 45px;
    border: rgb(100, 100, 100) solid 1px;
    /* background: #f28b24; */
    /* color: #fff; */
    margin-left: -5px;
    font-weight: 500;
    font-size: 19px;
    max-width: 271px;
    width: 100%;
  }
  
  .submit:hover {
    background: rgb(100, 100, 100);
    border: #d2cece solid 1px;
    color: rgb(100, 100, 100);
  }
  
  ul.social_link {
    padding-bottom: 35px;
    padding-top: 7px;
    display: block;
  }
  
  ul.social_link li {
    display: inline-block;
    padding-right: 4px;
  }
  
  ul.social_link li a img {
    width: 30px;
    height: 30px;
  }
  
  ul.social_link li a img:hover {
    /* background-color: #f28b24; */
    border-radius: 20px;
  }
  
  ul.Menu_footer li {
    padding-bottom: 5px;
    display: block;
    color: #3e7f21;
  }
  
  ul.Menu_footer li a {
    display: block;
    /* color: #fff; */
    color: rgb(100, 100, 100);
    font-size: 17px;
    padding-left: 16px;
    margin-top: -27px;
  }
  
  ul.Menu_footer li a:hover {
    color: rgb(100, 100, 100);
  }
  
  ul.Links_footer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
  }
  
  ul.Links_footer li a {
    display: block;
    color: rgb(100, 100, 100);
    font-size: 17px;
    padding-left: 16px;
    margin-top: -27px;
  }
  
  ul.Links_footer li a:hover {
    color: rgb(100, 100, 100);
  }
  
  ul.Links_footer li {
    padding-bottom: 5px;
    color: #3e7f21;
    display: block;
  }
  
  ul.loca li {
    color: rgb(100, 100, 100);
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  ul.loca li a {
    padding-right: 16px;
    color: #fff;
    margin-top: 4px;
  }
  
  .copyright {
    padding: 20px 0px;
    margin-top: 55px;
    /* background-color: #fff; */
  }
  
  .copyright p {
    color: rgb(100, 100, 100);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-top: rgb(100, 100, 100) solid 1px;
  }
  
  .copyright a {
    color: #000;
  }
  
  .copyright a:hover {
    color: rgb(100, 100, 100);
  }
  
  /** end footer **/



/* Episode deo */

#epizode{
  width: 100%;
    background-color: rgb(231, 231, 231);
    border: none;
}

#epizode .heading{
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
  text-shadow: 0 2rem 1rem #000;
}

#epizode .podcast-container{
  display: flex;
  align-items: center;
  flex-flow: column;

}

#epizode .podcast-container .box{
  height: 16rem;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 1rem;
  box-shadow: 0 0.8rem 1rem #757575;
  overflow: hidden;
  margin: 2rem;
}


#epizode .podcast-container .box .image{
  height: 100%;
  width: 25%;
}

#epizode .podcast-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


#epizode .podcast-container .box .podcast{
  width: 75%;
}

.podcast p{
  text-align: center;
  margin: -0.5%;
}

.podcast #social-sredina{
  text-align: center;
  margin: -1%;
}

.podcast h5{
  margin: -1%;
  font-weight: bold;
  text-align: center;
  color: #606060;
  padding: 0.5%;
}

/* #social-sredina{
  text-align: center;
} */

#epizode .podcast-container .box .podcast audio{
  width: 100%;
  outline: none;
}

#epizode .podcast-container .box .podcast audio::-webkit-media-controls-enclosure{
  background: none;
}

@media (max-width: 600px){

  #epizode .podcast-container .box{
    height: 27rem;
    width: 90%;
    flex-flow: column;
  }

  #epizode .podcast-container .box .image{
    height: 70%;
    width: 100%;
  }

  #epizode .podcast-container .box .podcast{
    height: 20%;
    width: 100%;
  }
  
}